@import url('http://fonts.cdnfonts.com/css/kraskario');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');
*{
    margin: 0%;
    padding: 0%;
    font-family: 'Kraskario', sans-serif;
}
h1{
    font-size: 50px;
    line-height: 43px;
    color:black;
}
h2{
    font-size: 45px;
    line-height: 43px;
    color:black;
}
h3{
    font-size: 39px;
    line-height: 43px;
    color:black;
}
h4{
    font-size: 29px;
    line-height: 43px;
    color:black;
}
h5{
    font-size: 20px;
    line-height: 43px;
    color:black;
}
h6{
    font-size: 19px;
    line-height: 43px;
    font-weight: 700;
    color:black;
}
#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 80px;
    background-color: rgb(108, 115, 116);
    box-shadow: 0;
}
p{
    font-size: 28px;
    font-weight: 600;
    scroll-margin-left: 29px;    
}
.slidebar{
 background-color: rgb(164, 216, 212);
 width: 12vw;

padding: 2px;
height:100vw;

}
.slidebar nav a  {
    padding:14px;
    color: black;
    text-underline-offset:unset;
    

}
.slidebar nav li  {
   margin-left: 23px;
        padding:20px 0;
    font-size:30px;
    color: black;
    font-weight: bolder;
    font-family: 'Kraskario', sans-serif;
}
.main{
    /* background-color: rgb(28, 156, 156); */
width: 90vw;

}
.container{
    display: flex;

}
.infocontainer{
    /* background-color: aquamarine; */
    width: 80vw;
height:80vh;
margin:100px auto;
display: flex;
justify-content: space-around;
}
.devpic{
    display:flex;
   
    
    justify-content: center;
}
.devpic img
{
 height:80vh;
}
.devinfo{
    display:flex;
    justify-content: center;
    flex-direction: column;
}
.hello{
 
     font-size: x-large;
}
.name{

     font-size: xxx-large;

    font-weight: 900;
}
.about{
    font-size:x-large;
    font-variant-caps: small-caps;
    font-weight: bolder;
}
.button button {
    
     font-size: large;

}